DATABASE_URL="postgresql://postgres.kedoxcuenfdrfxdtectm:susu.s.hit22@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.kedoxcuenfdrfxdtectm:susu.s.hit.22@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-this-to-a-long-random-string-in-production"
ADMIN_EMAIL="hithytl15@gmail.com"
ADMIN_PASSWORD="ChangeMe123!"
